<div ng-controller="chatController" class="chat-wrapper">


    <div class="avenue-messenger">
      <!--
        <div class="agent-face">
            <div class="half">
                <img class="agent circle" src="http://askavenue.com/img/17.jpg" alt="Jesse Tino"></div>
        </div>-->
        <div class="chat">
            <div class="chat-title">
                <h1>Jesse Tino</h1>
                <h2>RE/MAX</h2>
            </div>
            <div class="messages">
                <div class="messages-content">

                    <div ng-repeat="message in messages">

                        <div class="message new" ng-class="{'message-personal' : message.isOwnMessage}">
                            {{message.text}}
                            <div class="timestamp">
                                {{message.time}}
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="message-box">
                <textarea type="text" class="message-input" placeholder="Type message..." ng-model="messageInput"></textarea>
                <button type="submit" class="message-submit" ng-click="sendMessage()">Send</button>
            </div>
        </div>
    </div>


</div>